<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-grid readonlygrid="false" insertrow="true" updaterow="true" deleterow="true" title="NOTE LIST" dataset="bind:Variables.WMSTUDIONoteData.dataSet" name="grid1">
                <wm-grid-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer"></wm-grid-column>
                <wm-grid-column binding="repId" caption="Rep Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer"></wm-grid-column>
                <wm-grid-column binding="note" caption="Note" generator="assigned" pcdisplay="true" mobiledisplay="true" type="clob"></wm-grid-column>
                <wm-grid-column binding="userId" caption="User Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                <wm-grid-column binding="dateCreated" caption="Date Created" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>